// Btns
.--back-to-top {
    position: fixed;

    bottom: 0;
    right: 75px;

    width: 48px;
    height: 35px;

    border: none;
    border-radius: 4px 4px 0 0;

    color: white;
    background-color: rgb(0, 0, 0, 0.7);

    transition: all 0.2s;
    transition-timing-function: linear;

    cursor: pointer;

    &:hover {
        background-color: $primary-color;
    }
}