// HEADER
header {
    .secondary-header {
        height: $height-secondary-header;

        padding-left: 30px;
        padding-right: 30px;

        background-color: $primary-color;

        .secondary-header-wrapper {
            display: flex;
            flex-flow: row nowrap;
            
            height: $height-secondary-header;
            .secondary-left-header {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                flex: 1 1 auto;

                color: white;
            }
            .secondary-right-header {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                flex: 1 1 auto;
    
                .social-icons {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;
    
                    li {
                        margin: 0 10px;
    
                        &:last-child {
                            margin-right: 0;
                        }
    
                        a {
                            font-size: 1.5rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .jumbotron {
        height: $height-jumbotron;

        background-position: 49% 11%;
        background-size: 113%;
        background-image: url('images/avada-movers-homeherobackground-final.jpg');
        background-repeat: no-repeat;

        .primary-header {
            height: $height-primary-header;

            .jumbotron-wrapper {
                display: flex;
                flex-flow: column nowrap;

                height: $height-jumbotron;

                .primary-header-wrapper {
                    display: flex;
                    flex-flow: row nowrap;
    
                    height: $height-primary-header;
    
                    .primary-header-logo {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    
                    .primary-header-menu {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-end;
    
                        flex: 1 1 auto;
                        
                        .nav-menu-voices {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end;
                            align-items: center;
    
                            li.voice {
                                &:last-child {
                                    margin-right: 0;
                                }
                                a {
                                    font-size: 1.4rem;
                                    font-weight: 900;
                                    color: black;
                                    transition: all .2s;
                                    transition-timing-function: linear;
    
                                    &:Hover {
                                        color: $primary-color;
                                    }
                                }
                            }
    
                            li {
    
                                a.btn {
                                    @include btn;
    
                                    margin-left: 50px;
                                    &:hover {
                                        background-color: $secondary-hover-color;
                                    }
                                }
                            }
                        }
                    }
                }

                .jumbo-text {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    flex: 1 1 auto;

                    h1 {
                        margin: 20px 0;

                        font-size: 5.5rem;
                        font-weight: 900;
                        color: black;
                    }

                    h3 {
                        font-size: 1.4rem;
                        font-weight: 900;
                        color: $gray-text-color;
                    }
                }
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - -

// MAIN
// FREE QUOTE
#free-quote {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 50px 0;

    background-color: $secondary-color;

    transition: all .2s;
    transition-timing-function: linear;

    cursor: pointer;

    &:hover {
        background-color: $secondary-hover-color;
    }
    a {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        color: white;

        span {
            margin-left: 10px;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - -

// AWARD WINNING
#award-winning {
    padding: 150px 0;
    background-color: #F1F5F9;

    .award-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        max-width: 680px;

        margin: 0 auto;

        text-align: center;
        h3 {
            @include section-h3;
        }

        h2 {
            @include section-h2;
        }

        p {
            @include section-p;

            margin: 30px 0;
        }

        a.btn {
            @include btn;

            &:hover {
                background-color: $secondary-hover-color;
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - -

// FULL SERVICE SOLUTION
#full-service-solution {
    padding: 150px 0;
    background-color: white;

    .container {
        max-width: 1352px;
        .full-service-wrapper {
            display: flex;
            flex-flow: column nowrap;
    
            .full-service-text {
                flex: 0 0 auto;
    
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
    
                margin-bottom: 50px;
                h3 {
                    @include section-h3;
                }
                h2 {
                    @include section-h2;
                }
            }
        }
    
        .service-cards-wrapper {
            display: flex;
            flex-flow: row nowrap;
    
            .card {
                flex: 0 1 calc(100% / 3);
    
                margin: 0 25px;
                padding: 20px;
                background-color: #F2F5F8;
    
                .image-card-wrapper {
                    width: 100%;
    
                    img {
                        width: 100%;
                    }
                }
    
                .text-card-wrapper {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
    
                    margin-top: 17px;
                    padding: 30px 20px;
    
                    text-align: center;
                    background-color: white;
    
                    h3 {
                        font-size: 2.2rem;
                        font-weight: 600;
                        color: $secondary-color;
                    }
    
                    p {
                        @include section-p;
    
                        margin-top: 15px;
                        margin-bottom: 25px;
                    }
    
                    a.btn {
                        @include btn;
    
                        margin-bottom: 10px;
    
                        &:hover {
                            background-color: $secondary-hover-color;
                        }
                    }
                }
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - -

// MOVE-WITH-EASE
#move-with-ease {
    height: 780px;

    background-image: url('https://avada.theme-fusion.com/movers/wp-content/uploads/sites/108/2018/06/avada-movers-movewithease-background-new.jpg');
    background-size: cover;

    .move-with-wrapper {
        display: flex;
        flex-flow: row nowrap;

        height: 780px;
        
        .move-with-left {
            flex: 1 1 50%;
        }

        .move-with-right {
            flex: 1 1 50%;

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            margin-left: 40px;
            
            .mov-with-box {
                padding: 15px 15px;

                background-color: $primary-border-color;

                .move-with-text {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    padding: 40px 50px;

                    text-align: center;
                    background-color: $primary-color;

                    h3 {
                        @include section-h3;
                        
                        color: white;
                    }

                    h2 {
                        @include section-h2;

                        margin-bottom: 25px;

                        color: white;
                    }
                    
                    .line-divisor {
                        height: 1px;
                        width: 70%;

                        margin: 0 auto;

                        background-color: #93F236;
                    }
                    
                    p {
                        @include section-p;

                        padding: 30px 0;
                        color: white
                    }

                    a.btn {
                        @include btn;

                        padding: 17px 40px;
                        margin-top: 10px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - -

// TESTIMONIALS
#testimonials {
    height: 996px;

    padding: 130px 0;

    background-image: url('images/avada-movers-testimonial-background.jpg');
    background-size: cover;

    .container {
        .testimonials-wrapper {
            .testimonials-title {
                text-align: center;

                h3 {
                    @include section-h3;
                }

                h2 {
                    @include section-h2;
                }
            }

            .testimonials-cards-wrapper {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                margin-top: 50px;

                .testimonials-card {
                    padding: 20px 25px;
                    text-align: center;

                    img {
                        height: 150px;
                        width: 150px;

                        border-radius: 100px;
                    }

                    h3 {
                        margin: 30px 0;

                        font-size: 2.2rem;
                        font-weight: 600;
                        color: $secondary-color;
                    }

                    em {
                        @include section-p;
                    }
                }
            }

            .testimonials-button {
                padding: 13px 0;
                margin-top: 100px;
                text-align: center;

                a.btn {
                    @include btn;
                }
            }
        }
    }
}