// HEADER
header {
    .secondary-header {
        height: $height-secondary-header;

        padding-left: 30px;
        padding-right: 30px;

        background-color: $primary-color;

        .secondary-header-wrapper {
            display: flex;
            flex-flow: row nowrap;
            
            height: $height-secondary-header;
            .secondary-left-header {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                flex: 1 1 auto;

                color: white;
            }
            .secondary-right-header {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                flex: 1 1 auto;
    
                .social-icons {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;
    
                    li {
                        margin: 0 10px;
    
                        &:last-child {
                            margin-right: 0;
                        }
    
                        a {
                            font-size: 1.5rem;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .jumbotron {
        height: $height-jumbotron;

        background-position: 49% 11%;
        background-size: 113%;
        background-image: url('images/avada-movers-homeherobackground-final.jpg');
        background-repeat: no-repeat;

        .primary-header {
            height: $height-primary-header;

            .jumbotron-wrapper {
                display: flex;
                flex-flow: column nowrap;

                height: $height-jumbotron;

                .primary-header-wrapper {
                    display: flex;
                    flex-flow: row nowrap;
    
                    height: $height-primary-header;
    
                    .primary-header-logo {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    
                    .primary-header-menu {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-end;
    
                        flex: 1 1 auto;
                        
                        .nav-menu-voices {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end;
                            align-items: center;
    
                            li.voice {
                                &:last-child {
                                    margin-right: 0;
                                }
                                a {
                                    font-size: 1.4rem;
                                    font-weight: 900;
                                    color: black;
                                    transition: all .2s;
                                    transition-timing-function: linear;
    
                                    &:Hover {
                                        color: $primary-color;
                                    }
                                }
                            }
    
                            li {
    
                                a.btn {
                                    @include btn;
    
                                    margin-left: 50px;
                                    &:hover {
                                        background-color: $secondary-hover-color;
                                    }
                                }
                            }
                        }
                    }
                }

                .jumbo-text {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    flex: 1 1 auto;

                    h1 {
                        margin: 20px 0;

                        font-size: 5.5rem;
                        font-weight: 900;
                        color: black;
                    }

                    h3 {
                        font-size: 1.4rem;
                        font-weight: 900;
                        color: $gray-text-color;
                    }
                }
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - -

// MAIN
// FREE QUOTE
#free-quote {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 50px 0;

    background-color: $secondary-color;

    transition: all .2s;
    transition-timing-function: linear;

    cursor: pointer;

    &:hover {
        background-color: $secondary-hover-color;
    }
    a {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        color: white;

        span {
            margin-left: 10px;
        }
    }
}

// - - - - - - - - - - - - - - - - - - - - - - -

// AWARD WINNING
#award-winning {
    padding: 150px 0;
    background-color: white;

    .award-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        max-width: 680px;

        margin: 0 auto;

        text-align: center;
        h3 {
            font-size: 1.3rem;
            font-weight: 800;
            color: #aaaaaa;
        }

        h2 {
            margin-top: 20px;

            font-size: 4rem;
            font-weight: 900;
            color: $primary-color;
        }

        p {
            margin: 30px 0;
            font-size: 1.2rem;
            line-height: 2.5rem; 
            color: #585858;
        }

        a.btn {
            @include btn;
        }
    }
}