// COLORS
$primary-color: #69bf14;
$primary-border-color: #5CA61C;
$secondary-color: #1975C0;
$secondary-hover-color: #3294e2;
$gray-text-color: #777777;

// SECONDARY HEADER
$height-secondary-header: 50px;
$height-primary-header: 100px;
$height-jumbotron: 700px;

// - - - - - - - - - - - - - - - - - - -

// MIXINS
// GENERAL
@mixin btn {
    border-radius: 25px;

    padding: 13px 29px;

    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
    background-color: $secondary-color;
    
    text-transform: uppercase;
    transition: all .2s;
    transition-timing-function: linear;
}

// - - - - - - - - - - - - - - - - - - -

// MAIN
@mixin section-h3 {
    font-size: 16px;
    font-weight: 800;
    color: #aaaaaa;
}

@mixin section-h2 {
    margin-top: 15px;

    font-size: 47px;
    font-weight: 900;
    color: $primary-color;
}

@mixin section-p {
    font-size: 1.3rem;
    line-height: 2.5rem; 
    color: #585858; 
}