@import "partials/_variables";
@import "partials/components";
@import "partials/_homepage";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: lightgray;
}


.container {
    max-width: 1300px;

    margin: 0 auto;
}

// UTILITIES
.visible {
    display: block;
}

.invisible {
    display: none;
}